body {

    font-size: 25px;
    font-family: 'Bree Serif', Open Sans;

}

h1 {

    font-size: 50px;
    color: white;

}

h2 {

    font-size: 20px;
    color: white;

}

h3 {

    font-size: 75px;
    font-weight: 500;
    color: white;
    text-shadow: 3px 3px 5px black;
    text-align: center;

}

h4 {

    font-size: 37.5px;
    color: #252525;

}

h5 {

    margin-bottom: 25px;
    font-size: 42.5px;
    color: #252525;

}

video {

    margin-top: 50px;
    margin-bottom: 50px;

}



.background-image-1{

    margin-top: 75px;
    padding: 300px;
    background-image: url('Picture/Python Darken.png');
    background-size: 2000px, 2000px;
    background-position: center, center;

}

.background-image-2{

    margin-top: 75px;
    padding: 300px;
    background-image: url('Picture/Coral Reef Darken.png');
    background-size: 2000px, 2000px;
    background-position: center, center;

}

.background-image-3 {

    margin-top: 75px;
    padding: 300px;
    background-image: url('Picture/Christmas Carol Darken.png');
    background-size: 2000px, 2000px;
    background-position: center, center;

}

.background-image-4 {

    margin-top: 75px;
    padding: 300px;
    background-image: url('Picture/Leisure Activities Darken.png');
    background-size: 2000px, 2000px;
    background-position: center, center;

}

.background-image-5 {

    margin-top: 75px;
    padding: 300px;
    background-image: url('Picture/Skills Darken.png');
    background-size: 2000px, 2000px;
    background-position: center, center;

}

/*Visual Button 1 Start*/
.bn54 {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 75px;
    width: 300px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.6);
  }
  
  .bn54 .bn54span {

    color: #000000;
    font-size: 25px;
    font-weight: 625;
    letter-spacing: 0.7px;
  }
  
  .bn54:hover {
    animation: bn54rotate 0.7s ease-in-out both;
  }
  
  .bn54:hover .bn54span {
    animation: bn54storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  
  @keyframes bn54rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  @keyframes bn54storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }
/* Visual Button 1 End*/

/* Visual Button 2 Start*/
.bn1 {
    display: inline-block;
    padding: 10px 15px;
    border: 0.1em solid #252525;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #252525;
    text-align: center;
    transition: all 0.2s;
  }
  
  .bn1:hover {
    color: #ffffff;
    background-color: #000000;
  }
/* Visual Button 2 End*/


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.footer-container {

    margin-top: 250px;
    background-color: #FF740C;
    padding-bottom: 25px;
    box-shadow: 0 0 9px #000000;

}

.footer {

    padding: 2rem 0 4rem 0;
    width: 75%;
    height: 450px;
    background-color: #FF740C;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;

}

.footer-heading {

    display: flex;
    flex-direction: column;
    margin-right: 250px;

}

/* Specify More Start*/
.footer-heading h4 {

    margin-bottom: 50px;

}

.footer-heading a {

    color: #ffffff;
    text-decoration: dashed;
    margin-bottom: 25px;

}

.footer-heading a:hover {
    
    color: black;
    transition: 0.3s ease-off;

}

@media screen and (max-width: 1680px) {
    
    .footer-container{
        height: auto;
    }

    .footer-1 {
        display: none;
    }

    .vl {
        display: none;
    }

}

/* Specify More End */

.vl {

    border-left: 6px solid white;
    height: 325px;
    margin-right: 250px;

}



#navbar {

    background-color: #FF740C;
    box-shadow: 0 5px 10px black;

}

#linearGradient {

    padding-top: 125px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%); 

}

#kotori {

    width: 125px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 3px 3px 7px black;
    margin-bottom: 15px;

}

#profile  {

    width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 3px 3px 7px black;
    margin-bottom: 37.5px;

}